@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .3s ease;
}

:root {
  --primaryColor: #333;
  --hoverColor: #f1c40f;
  --btnHoverColor: #e0b30d;
  --whiteColor: #fff;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

.button {
  margin-left: 20px;
  padding: 8px 16px;
  border: none;
  background-color: var( --hoverColor );
  color: var( --primaryColor ); 
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var( --btnHoverColor );
  box-shadow: 0 5px 5px var( --whiteColor );
}

.container{
  /* justify-items: center; */
  margin-top: 8%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.form-box {
  margin-top: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--primaryColor);
  box-sizing: border-box;
  box-shadow: 0 15px 25px var( --primaryColor );
  border-radius: 10px;
}

.form-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var( --whiteColor );
  text-align: center;
}

.form-box .user-box {
  position: relative;
}

.form-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var( --whiteColor );
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var( --whiteColor );
  outline: none;
  background: transparent;
}

.form-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var( --whiteColor );
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var( --whiteColor );
  outline: none;
  background: transparent;
}

.form-box .user-box select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var( --whiteColor );
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var( --whiteColor );
  outline: none;
  background: transparent;
}

.form-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var( --whiteColor );
  pointer-events: none;
  transition: .5s;
}

.form-box .user-box input:focus ~ label,
.form-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var( --btnHoverColor );
  font-size: 12px;
}

.form-box .user-box textarea:focus ~ label,
.form-box .user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: var( --btnHoverColor );
  font-size: 12px;
}

.form-box .user-box select:focus ~ label,
.form-box .user-box select:valid ~ label {
  top: -20px;
  left: 0;
  color: var( --btnHoverColor );
  font-size: 12px;
}


/* Style The Dropdown Button */
.dropbtn {
  background-color: var( --hoverColor );
  color: var( --primaryColor ); 
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--hoverColor)}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: var(--hoverColor)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--btnHoverColor);
}