.footer {
  background-color: var( --primaryColor );
  color: var( --whiteColor );
  padding: 0;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.contact-info {
  text-align: center;
}

.contact-info h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.contact-info p {
  margin-bottom: 5px;
}

.contact-info p:last-child {
  margin-bottom: 10px;
}





