/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var( --primaryColor );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar-logo {
  color: var( --whiteColor );
  font-size: 24px;
  text-decoration: none;
  display: flex; /* Add this to create a flex container */
  align-items: center; /* Vertically center the content */
}

.logo-image {
  width: 30px;
  height: auto;
  margin-right: 8px;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-links {
  color: var( --whiteColor );
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.nav-links:hover {
  color: var( --hoverColor );
}

.nav-buttons {
  display: flex;
  align-items: center;
}